<!DOCTYPE html>
<html lang="ita">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SyncTag - InfoLink Template</title> 
    <link rel="stylesheet" type="text/css" href="style.css">
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
	<link rel="manifest" href="fav/site.webmanifest">
	<link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="apple-mobile-web-app-title" content="SyncTag">
	<meta name="application-name" content="SyncTag">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#ffffff">
</head>

<body> 
    <div id="logo">
		<img src="img/logo.png" height="200px" width="200px" class="centro">
		<p class="scritta">Nome</p>
		<br>
		<p class="bio"><i>Descrizione</i></p>
	</div>
	
    <!--
	<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
	-->
	
    <div  class="wrap">
     <div class="item">
       <a href="link" target="_new"> <img src="img/instagram.png" class="iconcina"></a>
	   <a href="link" target="_new"> <img src="img/facebook.png" class="iconcina"></a>
	   <a href="link" target="_new"> <img src="img/whatsapp.png" class="iconcina"></a>
	   <a href="link" target="_new"> <img src="img/twitter.png" class="iconcina"></a>
	   <a href="link" target="_new"> <img src="img/youtube.png" class="iconcina"></a>
	   <a href="mailto:synctaginfo@gmail.com""> <img src="img/gmail.png" class="iconcina"></a>
     </div>
	</div>

	<div class="wrap">
		<div class="item">
			 <a href="link" target="_new"><button class="btn-outline">Link 1</button></a>
		</div>
	</div>

	<div class="wrap">
		<div class="item">
			<a href="link" target="_new"><button class="btn-outline">Link 2</button></a>
		</div>
	</div>

	<div class="wrap">
		<div class="item">
			<a href="link" target="_new"><button class="btn-outline-2">Link 3</button></a>
		</div>
	</div>

	<div class="wrap">
		<div class="item">
			<a href="link" target="_new"><button class="btn-outline-2">Link 4</button></a>
		</div>
	</div>

	<!--
	<div class="wrap">
		<div class="item">
			<a href="link" target="_new"><button class="btn-outline">Titolo</button></a>
		</div>
	</div>
	-->

	<script src="https://cdn.jsdelivr.net/npm/mailtoui@1.0.3/dist/mailtoui-min.js"></script>

</body>
</html>